.control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.control__input {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator_checkbox {
    border: solid 1px #3b3d45;
    background-color: #1a1a1a;
    border-radius: 3px;
}
.control__indicator_checkbox::after {
    background-size: 10px;
}
.control__indicator {
    width: 16px;
    height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    -webkit-transition: .15s ease;
    transition: .15s ease;
}
.control__indicator::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    opacity: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity .15s ease,-webkit-transform .15s ease;
    transition: opacity .15s ease,-webkit-transform .15s ease;
    transition: opacity .15s ease,transform .15s ease;
    transition: opacity .15s ease,transform .15s ease,-webkit-transform .15s ease;
}
.control__text {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 8px;
}
.search-filter__checkbox {
    padding: 4px 10px 4px 0;
    min-width: 120px;
}
.search-filter {
    width: 320px;
    height: calc(100vh - 87px);
    position: -webkit-sticky;
    position: sticky;
    float: right;
    z-index: 300;
    top: 73px;
    bottom: 14px;
    padding: 7px;
}
.search-filte__filters {
    padding: 8px 14px;
}
.search-filter__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    padding: 6px 13px;
}
.search-filter__checkbox-list {
    padding: 3px 7px;
}
