.tabs__wrapper {
    -webkit-box-shadow: inset 0 -1px 0 #38383a;
    box-shadow: inset 0 -1px 0 #38383a;
    overflow-y: hidden;
    overflow-x: auto;
}

.tabs__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 -1px 0 #38383a;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    white-space: nowrap;
}

.media-tabs .tabs__item {
    padding: 13px 0;
}

.tabs__item {
    padding: 5px 20px 7px;
    display: inline-block;
    cursor: pointer;
    color: #aaa;
    -webkit-transition: color .2s ease, -webkit-box-shadow .3s ease;
    transition: color .2s ease, -webkit-box-shadow .3s ease;
    transition: color .2s ease, box-shadow .3s ease;
    transition: color .2s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
    white-space: nowrap;
    text-decoration: none;
}

.tabs__item:hover, .tabs__item_active {
    text-decoration: none;
    color: #ddd;
}

.media-tabs {
    padding: 0 18px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.media-chapters-head {
    position: relative;
}

.media-chapters-sort {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.recycle-scroller {
    position: relative;
}

.recycle-scroller__item-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.recycle-scroller.ready.direction-vertical .recycle-scroller__item-view {
    width: 100%;
}

.recycle-scroller.ready .recycle-scroller__item-view {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.media-chapter {
    position: relative;
    padding: 5px 32px 5px 8px;
    background: #1c1c1e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.media-chapter:hover {
    text-decoration: none!important;
    color: white;
    background-color: #303032;
    border-radius: 2px;
}

.media-chapter__icon {
    width: 28px;
    height: 28px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #868e96;
}

.media-chapter__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 5px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .media-chapter__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-right: 70px;
    }
}

@media (max-width: 991px) {
    .media-chapter__name {
        width: 100%;
        margin-bottom: 5px;
    }
}

.media-chapter__name {
    margin-right: auto;
}

@media (max-width: 991px) {
    .media-chapter__username {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}

.media-chapter__username {
    width: 120px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 16px;
}

.media-chapter__date {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

@media (max-width: 991px) {
    .media-chapter__actions {
        padding-right: 8px;
    }
}

.media-chapter__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.media-chapters-list.media-section {
    padding: 6px;
}
